<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="header clearfix">
        <h3 class="text-muted">Stack Overflow client</h3>
      </div>

      <div class="jumbotron">
        <h2>Search questions on <a href="http://stackoverflow.com" target="_blank">Stack Overflow</a></h2>

        <form ng-submit="submit()" >
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Search for..." ng-model="query" autofocus focus-me="{{true}}"tabindex="1">
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit" ng-disabled="!query">Go!</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
